.foodContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 10px;
  overflow-y: auto;
  height: calc(100% - 20px);
}
.foodChip {
  width: 150px;
  border-radius: 10px;
  color: white;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}
.noFood {
  text-align: center;
  flex: 1;
  color: red;
  font-size: 20px;
}
