.footerContainer {
  background-color: #dfe6e9;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.footerContainer button {
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  background-color: #fdcb6e;
  border-radius: 10px;
  padding: 20px 0;
  outline: none;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;
}
